local-dev

client_secret*

.sesskey
*.env
venv
cf_env
__pycache__
.DS_Store
input/*
cartoonize_input/*
output/*
*.pt
backend/workspace/*
*.png
*.jpg
.envfastapp/db/db.env
fastapp/make_sticker/sticker.env
fastapp/make_sticker/.env
service-account-key.json